@import '../../styles/elements/inputErrorDisplayer.scss';

.reviewFormContainer {
    margin: 10px 0;

    .input {
        width: 100%;
    }

    .reviewSubmitButton {
        margin-right: 5px;
    }

    .errorMessage {
        @extend .errorMessage;
        margin-bottom: 10px;
    }
}