h4 {
    margin-bottom: 5px;
}

.movieCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Default to 3 columns
    gap: 15px; // Adjust gap as needed

    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr); // 2 columns for medium screens
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr; // 1 column for small screens
    }
}